<%- include ("partials/header.ejs") %>
<div class="article_container">
<h1><%= data[dataNum].title %></h1>
<h2> By <%= data[dataNum].author %></h2>
<p>Article Summary: <%= data[dataNum].summary %></p>
<p><%= data[dataNum].article %></p>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/blogs.js"></script>
</body>
<footer>&copy;Afk4ever1</footer>
</html>